{{- if .Values.git.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hld-workspace.fullname" . }}-git
  namespace: {{ include "hld-workspace.namespace" . }}
  labels:
    {{- include "hld-workspace.labels" . | nindent 4 }}
type: Opaque
stringData:
  token: {{ .Values.git.ghToken | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hld-workspace.fullname" . }}-git-config
  namespace: {{ include "hld-workspace.namespace" . }}
  labels:
    {{- include "hld-workspace.labels" . | nindent 4 }}
data:
  .gitconfig: |
    [user]
      name = {{ .Values.git.userName }}
      email = {{ .Values.git.userEmail }}
    [credential "https://github.com"]
      helper = "!f() { echo username=x-access-token; echo password=$GH_TOKEN; }; f"
{{- end }}
