apiVersion: v1
kind: Service
metadata:
  name: {{ include "hld-workspace.fullname" . }}
  namespace: {{ include "hld-workspace.namespace" . }}
  labels:
    {{- include "hld-workspace.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "hld-workspace.selectorLabels" . | nindent 4 }}
